{%extends 'base.html'%}
{% block content %}
<div class="col-md-6">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class="form-control", type="date") }}<br>
            {% for error in form.time.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{%endblock%}}